<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name></display-name>
  
  <!-- 检测用户是否已经注册-》即用户名 -->
  <servlet>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.servlet.CheckUserServlet</servlet-class>
  </servlet>
  <!-- 检测用户是否已经注册测试-->
  <servlet>
    <servlet-name>CharacterEncodingFilterTest</servlet-name>
    <servlet-class>test.web.CharacterEncodingFilterTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/servlet/CheckUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CharacterEncodingFilterTest</servlet-name>
    <url-pattern>/servlet/CharacterEncodingFilterTest</url-pattern>
  </servlet-mapping>
  
  <!-- 全局编码过滤器 -->
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>team.dx.classroom.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 开启事务过滤器 -->
  <filter>
  	<filter-name>TransationFilter</filter-name>
  	<filter-class>team.dx.classroom.web.filter.TransationFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>TransationFilter</filter-name>
  	<url-pattern>/servlet/*</url-pattern>
  </filter-mapping>
  
  <!-- 主页引导 -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 用户登录 -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/loginServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 用户登出 -->
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/logoutServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 学生servlet -->
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.servlet.student.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>*.studentdo</url-pattern>
  </servlet-mapping>
  
  <!-- 用户注册 -->
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.servlet.RegisterServlet</servlet-class>
    <init-param>
    	<param-name>role_id</param-name>
    	<param-value>student</param-value>
    </init-param>
  </servlet>
  
  <!-- 角色管理 -->
  <servlet>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.manger.servlet.RoleServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/servlet/RoleServlet</url-pattern>
  </servlet-mapping>

</web-app>
