<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name></display-name>
  
  <!-- 检测用户是否已经注册-》即用户名 -->
  <servlet>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.servlet.CheckUserServlet</servlet-class>
  </servlet>
  <!-- 检测用户是否已经注册测试-->
  <servlet>
    <servlet-name>CharacterEncodingFilterTest</servlet-name>
    <servlet-class>test.web.CharacterEncodingFilterTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/servlet/CheckUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CharacterEncodingFilterTest</servlet-name>
    <url-pattern>/servlet/CharacterEncodingFilterTest</url-pattern>
  </servlet-mapping>
  
  <!-- 全局编码过滤器 -->
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>team.dx.classroom.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 开启事务过滤器 -->
  <filter>
  	<filter-name>TransationFilter</filter-name>
  	<filter-class>team.dx.classroom.web.filter.TransationFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>TransationFilter</filter-name>
  	<url-pattern>/servlet/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>TransationFilter</filter-name>
  	<url-pattern>*.stu</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>TransationFilter</filter-name>
  	<url-pattern>*.rev</url-pattern>
  </filter-mapping>

  <!-- 主页引导 -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 用户登录 -->
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/loginServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 用户登出 -->
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/logoutServlet</url-pattern>
  </servlet-mapping>
  
  <!-- 学生servlet -->
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.student.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>*.stu</url-pattern>
  </servlet-mapping>
  
  <!-- 用户注册 -->
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.servlet.RegisterServlet</servlet-class>
    <init-param>
    	<param-name>role_id</param-name>
    	<param-value>student</param-value>
    </init-param>
  </servlet>
  
  <!-- 角色管理 -->
  <servlet>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.manger.servlet.RoleServlet</servlet-class>
  </servlet>
  
  <!-- 老师显示主页UI逻辑控制 -->
  <servlet>
    <servlet-name>TeacherIndexServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.teacher.servlet.TeacherIndexServlet</servlet-class>
  </servlet>
  
  <!-- 老师对课程course管理 -->
  <servlet>
    <servlet-name>TeacherCourseServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.teacher.servlet.TeacherCourseServlet</servlet-class>
  </servlet>
  <!-- 老师核心操作管理 -->
  <servlet>
    <servlet-name>TeacherCoreServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.teacher.servlet.TeacherCoreServlet</servlet-class>
  </servlet>
  <!-- 老师对作业的管理 -->
  <servlet>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.teacher.servlet.TaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletTestXml</servlet-name>
    <servlet-class>test.junit.ServletTestXml</servlet-class>
  </servlet>
  <!-- 老师对课件的管理 -->
  <servlet>
    <servlet-name>CoursewareServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.teacher.servlet.CoursewareServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestAjaxServlet</servlet-name>
    <servlet-class>test.web.TestAjaxServlet</servlet-class>
  </servlet>
  
  <!-- jfreechart -->
  <servlet>
    <servlet-name>MyChart</servlet-name>
    <servlet-class>team.dx.classroom.web.teacher.servlet.MyChart</servlet-class>
  </servlet>
  
   <!-- jfreechart测试-->
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>JFreeChartTest</servlet-name>
    <servlet-class>test.web.JFreeChartTest</servlet-class>
  </servlet>



  <!-- 评论servlet -->
  <servlet>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.servlet.ReviewServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExperimentServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.teacher.servlet.ExperimentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentExperimentServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.student.servlet.StudentExperimentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExamsServlet</servlet-name>
    <servlet-class>team.dx.classroom.web.teacher.servlet.ExamsServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>*.rev</url-pattern>
  </servlet-mapping>



  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/servlet/RoleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherIndexServlet</servlet-name>
    <url-pattern>/servlet/TeacherIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherCourseServlet</servlet-name>
    <url-pattern> /servlet/TeacherCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherCoreServlet</servlet-name>
    <url-pattern>/servlet/TeacherCoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/servlet/TaskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletTestXml</servlet-name>
    <url-pattern>/servlet/ServletTestXml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CoursewareServlet</servlet-name>
    <url-pattern>/servlet/CoursewareServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestAjaxServlet</servlet-name>
    <url-pattern>/servlet/TestAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JFreeChartTest</servlet-name>
    <url-pattern>/servlet/JFreeChartTest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyChart</servlet-name>
    <url-pattern>/servlet/MyChart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExperimentServlet</servlet-name>
    <url-pattern>/servlet/ExperimentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentExperimentServlet</servlet-name>
    <url-pattern>/servlet/StudentExperimentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExamsServlet</servlet-name>
    <url-pattern>/servlet/ExamsServlet</url-pattern>
  </servlet-mapping>
  
  

</web-app>
